<div class="yel-admin-wrapper">

    <div class="yel-sup-faq-wrapper">
        <div class="yel-sup-faq-col" style="margin-right:40px">
            <div class="yel-sup-smallheading">FAQ: Installation & Usage</div>
            <div class="yel-sup-faq">
                <div class="yel-sup-q">Can I use this with my current wordpress?</div>
                <div class="yel-sup-a">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam placerat finibus porta. Integer vestibulum laoreet sem, ac maximus est venenatis ornare. Curabitur eget bibendum erat, sed pharetra felis. Nam in molestie est. Donec placerat augue ut fermentum ullamcorper.</div>
            </div>
            <div class="yel-sup-faq">
                <div class="yel-sup-q">Can I use this with my current wordpress?</div>
                <div class="yel-sup-a">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam placerat finibus porta. Integer vestibulum laoreet sem, ac maximus est venenatis ornare. Curabitur eget bibendum erat, sed pharetra felis. Nam in molestie est. Donec placerat augue ut fermentum ullamcorper.</div>
            </div>
        </div>
        <div class="yel-sup-faq-col">
            <div class="yel-sup-smallheading">FAQ: Premuim Membership & Payments</div>
            <div class="yel-sup-faq">
                <div class="yel-sup-q">Can I use this with my current wordpress?</div>
                <div class="yel-sup-a">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam placerat finibus porta. Integer vestibulum laoreet sem, ac maximus est venenatis ornare. Curabitur eget bibendum erat, sed pharetra felis. Nam in molestie est. Donec placerat augue ut fermentum ullamcorper.</div>
            </div>
            <div class="yel-sup-faq">
                <div class="yel-sup-q">Can I use this with my current wordpress?</div>
                <div class="yel-sup-a">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam placerat finibus porta. Integer vestibulum laoreet sem, ac maximus est venenatis ornare. Curabitur eget bibendum erat, sed pharetra felis. Nam in molestie est. Donec placerat augue ut fermentum ullamcorper.</div>
            </div>
        </div>
    </div>
</div>
