<div ng-init="C.createNewEvent('seen_feedback_modal')" class="row" style="margin-top:10px;margin-left:10px;padding:10px">
    <div class="col-md-6 col-md-offset-3">
        <formly-form fields="configFields.feedback" model="feedback"></formly-form>
        <center ng-show="feedbackComplete(feedback)">
            <button type="button" class="btn btn-primary" style="margin-top:5px" ng-click="sendFeedback(feedback)" >Submit</button>
        </center>
        <center ng-show="showClose(feedback)">
            <button type="button" class="btn btn-default pull-right" style="margin-top:5px"  ng-click="sendFeedback(feedback)">Close</button>
        </center>
    </div>
</div>
<!--
<json-formatter json="configFields.feedback"></json-formatter>
-->